*{
    margin: 0px;
}

.container{
    max-width: 80vw;
}

.margin{
    margin-left: auto;
    margin-right: auto;
}

/* top */
.logo{
    font-weight: bold;
    padding: 5px 0px;
}
.top{
    background-color: #FCD34D;
    padding: 25px 10px;
    font-size: 20px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.navbar{
    display: flex;
    align-items: center;
}
li{
    list-style: none;
    padding: 0px 30px;
}
ul li a{
    text-decoration: none;
    color: black;
}
ul li a:hover{
    color: whitesmoke;
}

/* middle sec */
.mobile{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}


.left{
    width: 60%;
    height: 50vh;
    /* border: 2px solid red; */
    /* padding: 70px 0px; */
    margin: 60px 0px;
}
.phone{
    font-size: 2.8rem;
    font-weight: bold;
    padding: 5px 10px;
}
.btn{
    padding: 10px 15px;
    margin: 30px 8px;
    border: 1px solid white;
    background-color: #FCD34D;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
}

.right{
    width: 40%;
    height: 60vh;
    /* border: 2px solid blue; */
}
.img{
    display: block;
    height: 450px;
    width: 550px;
    margin-right: 20px;
}

/* store sec */
#store::before{
    content: "";
    position: absolute;
    background-color: #FCD34D;
    width: 81%;
    height: 38%;
    z-index: -1;
    opacity: 0.7;
}
.store{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
}
.img1{
    display: block;
}
.pd{
    padding: 10px 0px;
}
.pd h1{
    font-size: 30px;
}

/* follow-us */
#follow-us::before{
    content: "";
    position: absolute;
    background-color: #FCD34D;
    width: 81%;
    height: 28%;
    z-index: -1;
    opacity: 0.7;
}
#follow-us{
    /* height: 30vh; */
    margin: 20px 0px;
}

.center{
    text-align: center;
    font-size: 30px;
}
.img2 a img{
    display: block;
    height: 80px;
    /* width: 100px; */
}
.img-container{
    display: flex;
    justify-content: space-around;
    margin: 40px 0px;
}

/* footer sec  */
#footer::before{
    content: "";
    position: absolute;
    background-color: black;
    width: 81%;
    height: 8%;
    z-index: -1;
    opacity: 0.7;
}
footer{
    text-align: center;
    color: white;
    padding: 18px 0px;
}

/* features */
#features{
    display: flex;
}
#img3{
    height: 500px;
    display: block;
    margin-top: 5px;
    margin-left: 140px;
}

.left1{
    height: 70vh;
    width: 35%;
    /* border: 2px solid red; */
}
.right1{
    height: 70vh;
    width: 65%;
    /* border: 2px solid blue; */
}

.img4{
    height: 40px;
}
.items li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 10px;
}
/* .center1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
} */
